@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.line {
    height: 1px;
    background: linear-gradient(to right, rgba(1, 254, 228, 0) 0%, rgb(137, 150, 148) 20%, rgb(129, 148, 146) 80%, rgba(1, 254, 228, 0) 100%);
}


.text {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.circle{
    background: linear-gradient(26deg, #F9DECB 0%, #B56E19 100%);
}

.scroll::-webkit-scrollbar {
    width: 6px;               
}

.scroll::-webkit-scrollbar-track {
    background: #31313b;   
    border-radius: 20px;       
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #141318;   
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #31313b inset;
  box-shadow: 0 0 0px 1000px #31313b inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}