@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
    height: 1px;
    background: linear-gradient(to right, rgba(1, 254, 228, 0) 0%, rgba(1, 254, 228, 1) 20%, rgba(1, 254, 228, 1) 80%, rgba(1, 254, 228, 0) 100%);
}


.text {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.circle{
    background: linear-gradient(26deg, #F9DECB 0%, #B56E19 100%);
}